@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 100%;
}

body{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background-color: black;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background: pink;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover{
    background: pink;
}
.translate{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px 0 85%;
    position: absolute;
}
nav{
    width: 100%;
    height: 10vh;
}

.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: pink;
    border-bottom: 3px solid pink;
} */

.logo{
    font-size: 3rem;
    color: pink;
    font-weight: bold;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo span{
    color: pink;
    text-shadow: 0 0 10px #ffc0cb;
}

.logo:hover{
    transform: scale(1.1);
}

/* .hamburg,
.cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    opacity: 0;
    pointer-events: none;
    font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem)
} */

.nav-container .links{
    display: flex;
}

.nav-container .links a{
    position: relative;
    font-size: 1.5rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-container .links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: pink;
    transition: 0.2s linear;
}

.nav-container .links a:hover::before{
    width: 100%;
}

.nav-container .links a:hover{
    color: pink;
}
.hamburg{
    position: absolute;
    display: block;
    width: 35px;
    cursor: pointer;
    top: 10px;
    right: 10px;

    appearance: none;
    background: none;
    outline: none;
    border: none;
}
.hamburg .bar, .hamburg:after, .hamburg:before{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: pink;
    margin: 6px 0px;
    transition: 0.4s;
    border-radius: 15%;
}
.hamburg.is-active:before{
    transform: rotate(-45deg) translate(-8px, 8px);
}
.hamburg.is-active:after{
    transform: rotate(45deg) translate(-8px, -8px);
}
.hamburg.is-active .bar{
    opacity: 0;
}
.mobile-nav{
    position: fixed;
    top: 9%;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: black;
    padding-top: 120px;
    transition: 0.4s;
}
.mobile-nav.is-active{
    left: 0;
}
.mobile-nav a{
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: rgba(255, 192, 203, 0.5);
    color: white;
    text-decoration: none;
}
.mobile-nav a:hover{
    background-color: rgba(255, 192, 203, 1);
}

section{
    width: 100%;
    min-height: 90vh;
}

section .main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 9% 9% 0 9%;
}

.main-container .image{
    width: 50vh;
    height: 50vh;
    border-radius: 30%;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(255, 187, 228, 0.6);
}

.main-container .image img{
    width: 100%;
}
.main-container .image:hover{
    animation: animate 1.5s ease-in-out infinite
}

@keyframes animate{
    0%{
        scale: 1;
    }

    50%{
        scale: 1.05;
    }

    100%{
        scale: 1;
    }
}

.main-container .content{
    color: white;
    width: 45%;

}

.content h1{
    font-size: 40px;
}

.content h1 span{
    color: pink;
    text-shadow: 0 0 10px pink;
}

.content .typewriter{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.content .typewriter-text{
    position: relative;
    color: pink;
    text-shadow: 0 0 10px pink;
}
.content .typewriter-text span{
    position: relative;
}
.content .typewriter-text span::before{
    content: 'Software Engineer';
    color: pink;
    animation: words 20s infinite;
}
.content .typewriter-text span::after{
    content: '';
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 52px;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}
@keyframes cursor{
    to{
        border-left: 3px solid pink;
    }
}

@keyframes words{
    0%, 20%{
        content: "Software Engineer";
    }
    21%, 40%{
        content: "Student";
    }
    41%, 60%{
        content: "Web Developer";
    }
    61%, 100%{
        content: "Data Analyst";
    }
}
.content p{
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
    text-align: justify;
}

.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.18rem solid pink;
    font-size: 1.36rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.2s linear;
    color: pink;
}


.social-links i:hover{
    scale: 1.3;
    color: black;
    background-color: pink;
    filter: drop-shadow(0 0 10px rgba(255, 192, 203, 0.8));

}

.content button{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: pink;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 0.18rem solid pink;
    transition: 0.3s ease;
    cursor: pointer;
}
.content button:hover{
    scale: 1.1;
    color: black;
    border: 0.18rem solid pink;
    background-color: pink;
    font-weight: 700;
    box-shadow: 0 0 20px rgba(255, 192, 203, 0.8); 
}
section .content{
    width: 80%;
    margin: 0px auto;
    font-family: 'Poppins', sans-serif;
}

.about .about-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section .title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
section .title span{
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px
}
section .title span::before,
section .title span::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background: pink;
    left: 0;
    bottom: 0;
}
section .title span::after{
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}
.about .about-details{
    position: relative;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
/* .about .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
} */
/* .about-details .right{
    width: 55%;
} */
section .topic{
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.about-details .right p{
    text-align: center;
    color: white;
    display: flex;
 
}
section .button{
    margin: 16px 0;
}
section .button button{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1rem;
    color: pink;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 0.18rem solid pink;
    transition: 0.3s ease;
    cursor: pointer;

    /* outline: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 400;
    background: pink;
    color: black;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease; */
}
section .button button:hover{
    border-color: pink;
    background-color: pink;
    color: black;
}

.skills{
    background: black;
}
.skills .content{
    padding: 40px 0;
}
.skills .skills-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills-details .text{
    width: 50%;
}
.skills-details p{
    color: white;
    text-align: justify;
}
.skills .skills-details .experience{
display: flex;
align-items: center;
margin: 0 10px;      
}
.skills-details .experience .num{
    color: white;
    font-size: 80px;
}
.skills-details .experience .exp{
    color: white;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    margin: 0 6px;
}
.skills-details .boxes{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skills-details .box{
    width: calc(100%/2 - 20px);
    margin: 20px 0;
}
.skills-details .boxes .topic{
    font-size: 20px;
    color: pink;
}
.skills-details .boxes .per{
    font-size: 60px;
    color: pink;
}
.services .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services .boxes .box{
    margin: 20px 0;
    width: calc(100% / 3 - 20px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 12);
    cursor: default;
    color: white;
    transition: all 0.4s ease;
}
.services .boxes .box:hover{
    background: rgba(255, 192, 203, 0.5); 
    color: white;
}
.services .boxes .box .icon{
    height: 50px;
    width: 50px;
    background: pink;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: white;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
}
.boxes .box:hover .icon{
    background-color: white;
    color: pink;
}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
    color: white;
    transition: all 0.4s ease;
}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
    color: white;
}
.contact{
    background: black;
}
.contact .content{
    margin: 0 auto;
    padding: 30px 0;
}
.contact .text{
    width: 80%;
    text-align: center;
    margin: auto;
}
footer{
    background: pink;
    padding: 15px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
footer .text span{
    font-size: 17px;
    font-weight: 400;
    color: white;
}
footer .text span a{
    font-weight: 500;
    color: white;
}
footer .text span a:hover{
    text-decoration: underline;
}

@media (max-width: 1000px) { 
    .about .about-details{
        justify-content: center;
        flex-direction: column;
    }
    .about .about-details .left{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .about-details .right{
        width: 90%;
        margin: 40px 0;
    }
    .services .boxes .box{
        margin: 20px 0;
        width: calc(100%/2 - 20px);
    }
}

@media (max-width: 900px){
    /* .about .left img{
        height: 350px;
        width: 350px;
    } */
    .translate{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 10px 0 40%;
        position: absolute;
    }
    .hamburg{
        margin-right: 20px;
    }
}



@media (max-width: 968px){
    nav .logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 3rem;
    }
    section .main-container{
        padding-left: 0px;
        display: flex;
        flex-direction: column;
    }
    .main-container .content{
        margin-top: 20px;
        width: 80%;
    }
    .main-container .image{
        width: 25vh;
        height: 25vh;
    }
    .nav-container .links{
        display: none;
    }
    /* .hamburg,
    .cancel{
        opacity: 0.8;
        pointer-events: visible;
        margin-top: 10px;
    } */
    .social-links i{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;    
    }
    .skills .skills-details{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .skills-details .text{
        width: 90%;
        margin-bottom: 50px;
    }
    .skills-details .boxes{
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .services .boxes .box{
        margin: 20px 0;
        width: 100%;
    }
    .contact .text{
        width: 100%;
    }
    .hamburg{
        margin-right: 10px;
    }
    /* .content .typewriter-text span::after{

        height: 40px;

    } */

}
@media(min-width: 969px){
    .mobile-nav{
        display: none;
    }
    .hamburg{
        display: none;
    }
}
@media (max-width: 500px){
    .skills-details .boxes .per{
        font-size: 50px;
        color: pink;
    }
    .about .left img{
        height: 300px;
        width: 300px;
        object-fit: cover;
        border-radius: 12px;
    }
    .hamburg{
        margin-right: 40px;
    }
}